language: csharp
dist: focal
mono: none
services:
  - docker
before_script:
  - wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
  - sudo dpkg -i packages-microsoft-prod.deb
  - sudo apt-get update
  - sudo apt-get install -y apt-transport-https
  - sudo apt-get update
  - sudo apt-get install -y dotnet-sdk-6.0
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - chmod +x codecov
script:
  - dotnet build --configuration Release
  - dotnet test Watchman.sln /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
  - ./codecov -f "/Devscord.DiscordFramework.UnitTests/coverage.opencover.xml"
  - ./codecov -f "/Watchman.Discord.UnitTests/coverage.opencover.xml"
  - ./codecov -f "/Watchman.Discord.IntegrationTests/coverage.opencover.xml"
  - ./codecov -f "/Watchman.DomainModel.UnitTests/coverage.opencover.xml"
  - ./codecov -f "/Watchman.Integration.Tests/coverage.opencover.xml"
deploy:
  provider: script
  script: 
  - docker build -t $DOCKERHUB_LOGIN/watchman-web . && docker login -p $DOCKERHUB_PASS -u $DOCKERHUB_LOGIN && docker push $DOCKERHUB_LOGIN/watchman-web:latest
  on:
    branch: master
notifications:
  email:
    on_success: never
    on_failure: always
