language: csharp
dist: bionic
mono: none
services:
  - docker
before_script:
  - chmod -R a+x scripts
  - wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
  - sudo dpkg -i packages-microsoft-prod.deb
  - sudo apt-get update
  - sudo apt-get install -y apt-transport-https
  - sudo apt-get update
  - sudo apt-get install -y dotnet-sdk-3.1=3.1.302-1
script:
  - "./scripts/travis-build.sh"
before_deploy:
    - openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
    - eval "$(ssh-agent -s)"
    - chmod 600 /tmp/deploy_rsa
    - ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  script: bash ./scripts/travis-deploy.sh
  on:
    tags: true
    branch: master
    condition: "$TRAVIS_TAG =~ ^v[0-9]+\\.[0-9]+(\\.[0-9]+)?$"
notifications:
  email:
    on_success: never
    on_failure: always
