version: '3'
services: 
    watchman-web:
        image: gagyn/watchman
        ports:
            - "8080:80"
        restart: "unless-stopped"
        volumes:
            - ./Watchman.Web/appsettings.json:/app/appsettings.json
            - /etc/localtime:/etc/localtime:ro
            - ./logs:/app/logs
