@inherits LayoutComponentBase

    
<div class="content has-text-centered">
    <p class="title is-2">Watchman</p>
    <p class="subtitle is-4">Configuration editor</p>
</div>
<div class="columns">
    <div class="column is-one-fifth has-text-centered"><NavMenu /></div>
    <div class="column">
        <div class="container is-fluid">
            @Body
            </div>
    </div>
</div>