<aside class="menu">
    <ul class="menu-list">
        <li>
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="statistics">
                <span aria-hidden="true"></span> Statistics
            </NavLink>
        </li>
        <li>
            <NavLink href="responses">
                <span aria-hidden="true"></span> Responses
            </NavLink>
        </li>
    </ul>
</aside>
