<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li>
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">
                <span aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</aside>
