

<form *ngFor="let response of responses" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <p>
      <mat-form-field style="width: 1000px !important" appearance="outline" >
          <mat-label>{{ response.onEvent }}</mat-label>
          <input name="onEvent" [ngModel]="response.onEvent" hidden>
          <input name="message" matInput [ngModel]="response.message">
          <button mat-raised-button style="margin: 10px; margin-top: 25px;" color="primary" [disabled]="isSaveButtonDisabled(f)">Save</button>
        </mat-form-field>
  </p>
</form>

