name: Production deploy
on:
  workflow_dispatch:
  
jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
    - name: Build and deploy  
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        passphrase: ${{ secrets.SSH_KEY_PASS }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir test123
